main {
  background: #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 17%,
    rgba(166, 159, 159, 1) 51%,
    rgba(171, 159, 159, 1) 51%,
    rgba(13, 13, 11, 1) 85%
  );
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: url("fundo-abstrato-escuro_1048-1920.avif");
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
}

.titulo {
  color: rgb(110, 211, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  border-bottom: solid 5px white;
  margin-bottom: 15px;
}

.input {
  color: rgb(110, 211, 245);
  align-items: center;
  display: flex;
  width: 300px;
  height: 30px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  gap: 10px;
}

.input label {
  width: 80px;
  text-align: right;
  color: rgb(110, 211, 245);
  font-weight: bold;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

button {
  background: #b8b8b8;
  background-image: -webkit-linear-gradient(top, #b8b8b8, #666666);
  background-image: -moz-linear-gradient(top, #b8b8b8, #666666);
  background-image: -ms-linear-gradient(top, #b8b8b8, #666666);
  background-image: -o-linear-gradient(top, #b8b8b8, #666666);
  background-image: linear-gradient(to bottom, #b8b8b8, #666666);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

button:hover {
  background: #5b707d;
  background-image: -webkit-linear-gradient(top, #5b707d, #282d30);
  background-image: -moz-linear-gradient(top, #5b707d, #282d30);
  background-image: -ms-linear-gradient(top, #5b707d, #282d30);
  background-image: -o-linear-gradient(top, #5b707d, #282d30);
  background-image: linear-gradient(to bottom, #5b707d, #282d30);
  text-decoration: none;
}

.resultado {
  font-family: "Poppins", sans-serif;
  user-select: none;
  background-color: white;
  display: flex;
  margin-top: 0px;
  align-items: center;
  width: 300px;
  height: 100px;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(3, 5, 6);
  padding: 20px;
  box-sizing: border-box;
}
